<div class="container text-center mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
        <div class="card">
            <div class="card-body">
            <h3 class="card-title">­ЪЊ▒ сЂЊсЂ«сѓбсЃЌсЃфсЂ»LINEтєЁсЂДсЂћтѕЕућесЂЈсЂасЂЋсЂё</h3>
            <p class="card-text">
                LINEтЁгт╝ЈсѓбсѓФсѓдсЃ│сЃѕсѓњтЈІсЂасЂАУ┐йтіасЂЌсЂдсђЂ<br>
                сЃфсЃЃсЃЂсЃАсЃІсЃЦсЃ╝сЂІсѓЅсѓбсѓ»сѓ╗сѓ╣сЂЌсЂдсЂЈсЂасЂЋсЂёсђѓ
            </p>

            <div class="mt-4">
                <a href="https://line.me/R/ti/p/<%= Rails.application.credentials.line[:official_account_id] %>"
                class="btn btn-success btn-lg" target="_blank">
                ­ЪЊ▒ LINEтЁгт╝ЈсѓбсѓФсѓдсЃ│сЃѕсѓњжќІсЂЈ
                </a>
            </div>

            <div class="mt-3">
                <small class="text-muted">
                тЈІсЂасЂАУ┐йтіатЙїсђЂсЃфсЃЃсЃЂсЃАсЃІсЃЦсЃ╝сЂ«сђїсѓбсЃЌсЃфсѓњжќІсЂЈсђЇсѓњсѓ┐сЃЃсЃЌсЂЌсЂдсЂЈсЂасЂЋсЂё
                </small>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>