<div
    data-controller="liff"
    data-liff-liff-id-value="<%= ENV['LIFF_ID'] %>"
>
    <h1 class="text-2xl font-bold mb-4">LIFF連携サンプル</h1>
    <p data-liff-target="name">ログイン情報を取得中...</p>
    <img data-liff-target="image" alt="プロフィール画像" class="w-24 h-24 rounded-full mt-4 mx-auto">
</div>
