<header class="bg-secondary shadow-sm sticky top-0 z-50">
  <div class="navbar max-w-7xl mx-auto">
    <div class="navbar-start">
      <%= link_to root_path, class: "inline-block transition duration-200 hover:scale-105 px-2" do %>
      <%= image_tag "tittlelogo-2.png", alt: "砂時計",
          class: "w-60 object-contain mx-auto" %>
    <% end %>
    </div>

    <div class="navbar-end">
      <% if logged_in_line? %>
        <div class="user-info">
          <%= current_user.display_name %>の活動記録
        </div>
      <% end %>
    </div>

  </div>
</header>