@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1, h2, h3, h4, h5, h6 {
        @apply font-caprasimo;
    }
}

.mood-selected {
    @apply border-4 border-white;
}

@layer base {
    header, footer {
        margin: 0;
        padding: 0;
    }
}