<%= turbo_stream.replace "checkin-section" do %>
    <div id="checkin-section">
        <button class="btn btn-lg px-16 py-4 text-2xl shadow-lg w-full bg-gray-400 text-gray-600" disabled>
        チェックイン済み
        </button>

            <!-- チェックアウトボタン -->
            <div class="space-y-4 py-4">
            <%= link_to checkout_page_checkinout_records_path,
                    class: "btn btn-outline btn-accent btn-lg px-16 py-4 text-2xl shadow-lg w-full block" do %>
                チェックアウト
                <% end %>

                <!-- マイページボタン（アウトラインスタイル） -->
                <%= link_to mypage_path,
                    class: "btn btn-outline btn-lg px-16 py-4 text-2xl shadow-lg w-full block border-white text-white hover:bg-white/70 hover:border-white hover:text-orange-600 " do %>
                マイページを見る
                <% end %>
            </div>
    </div>
    <% end %>

    <%= turbo_stream.replace "checkout-section" do %>
    <div id="checkout-section">
        <button class="btn btn-lg px-16 py-4 text-2xl shadow-lg w-full bg-gray-400 text-gray-600" disabled>
        チェックアウト済み
        </button>
    </div>
    <% end %>

